.page-inner {
  max-width: 1024px;
  overflow-x: hidden;
}

.markdown-section {
  overflow: visible !important;
}

.markdown-section blockquote {
  margin: 0;
  margin-bottom: 0.85em;
  padding: 0 15px;
  color: #333333;
  border-left: 4px solid #ddd;
  background: #00000010;
}

.markdown-section h3 {
  clear: both;
}

img {
  border: 1px solid #888 !important;
  padding: 5px;
}

.flex .floatright .marginThumb {
  background: none !important;
  margin: none;
  padding: none;
  border: none !important;
}

.flex p, .floatright p, .marginThumb p {
  margin: 0px !important;
  padding: 0px !important;
}

.flex {
  background: transparent !important;
  padding: 0px !important;
  border: 1px solid #888 !important;
}

.flex p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex p img {
  border: none !important;
}

.cols-2 p img {
  width: 50%;
}

.cols-3 p img {
  width: 33%;
}

.cols-4 p img {
  width: 25%;
}

.floatright {
  float: right;
  border: 50px !important;
  background: transparent !important;
}

.width-30pc {
  width: 30%;
  min-width: 180px;
}

.width-40pc {
  width: 40%;
  min-width: 180px;
}

.shift-up {
  margin-top: -70px !important;
}

.marginThumb img {
  border: none !important;
}

.audible {
  border-left: 28px solid #f7991d !important;
}

.audible:before {
  content: "";
  background: url("images/Audible.svg");
  background-size: cover;
  position: absolute;
  width: 20px;
  height: 20px;
  margin-left: -38px;
}

h2 {
  border-bottom: 1px solid;
  margin-left: -12%;
  margin-right: -12%;
}

h3 {
  margin: 10px;
  display: block;
  border-bottom: 1px solid #e8e8e8;
  background: #00000010;
  padding-left: 400px;
  margin-right: -400px;
  margin-left: -400px;
}

.book-body {
  background-image: url("images/bg_white.jpg");
  background-size: auto 100%;
}

.book.color-theme-1 .book-body {
  background-image: url("images/bg_sepia.jpg");
}

.book.color-theme-1 .book-body .page-wrapper .page-inner section {
  background: transparent !important;
}

.color-theme-1 h3 {
  border-bottom: 1px solid #d8c37b;
  background: #70421422;
}

.color-theme-1 blockquote {
  background: #70421422;
  color: #704214;
}

.book.color-theme-2 .book-body {
  background-image: url("images/bg_night.jpg");
}

.book.color-theme-2 .book-body .page-wrapper .page-inner section {
  background: transparent !important;
}

.color-theme-2 h3 {
  border-bottom: 1px solid #000;
  background: #0e101622;
}

.color-theme-2 blockquote {
  background: #0e101622;
  color: #bdcadb;
}

.header-link {
  position: absolute;
  right: 5%;
}

.gitmodified {
  padding: 0px !important;
  font-size: x-small;
  margin: 100px -12% 0px -12% !important;
  background: transparent !important;
  border: none !important;
}
