.page-wrapper {
  container-type: inline-size;
}

.page-inner {
  max-width: 1024px;
}

.markdown-section {
  overflow: visible !important;
}

.markdown-section blockquote {
  margin: 0;
  margin-bottom: 0.85em;
  padding: 0 15px;
  color: #333333;
  border-left: 4px solid #ddd;
  background: #efefef;
}

.color-theme-1 blockquote {
  background: #dbd3b7;
  color: #9b632b;
}

.color-theme-2 blockquote {
  background: #000;
  color: #bdcadb;
}

.markdown-section h3 {
  clear: left;
}

img {
  border: 1px solid #888 !important;
  padding: 5px;
}

.classedBlock {
  background: none !important;
  margin: none;
  padding: none;
  border: none !important;
}

.classedBlock p {
  margin: 0px !important;
  padding: 0px !important;
}
.flex {
  background: transparent !important;
  padding: 0px !important;
  border: 1px solid #888 !important;
}

.flex p {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.flex p img {
  border: none !important;
}

.cols-2 p img {
  width: 50%;
}

.cols-3 p img {
  width: 33%;
}

.cols-4 p img {
  width: 25%;
}

.floatright {
  float: right;
  border: 50px !important;
}

.width-40pc {
  width: 40%;
  min-width: 180px;
}

.marginThumb {
  float: left !important;
  background: transparent !important;
  overflow: hidden !important;
  border: none !important;
  padding: 0px !important;
  margin: 0px !important;
  padding-right: 10px !important;
  margin-top: -61px !important;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}

@container (min-width: 1000px) {
  .page-inner {
    padding-left: 128px;
    padding-right: 128px;
  }

  .marginThumb {
    width: 130px;
    margin-left: -138px !important;
  }
}

@container (max-width: 999px) {
  .page-inner {
    padding-left: 14%;
    padding-right: 14%;
  }

  .marginThumb {
    width: 16%;
    margin-left: -16% !important;
  }
}

.marginThumb img {
  border: none !important;
  padding: 0px;
}

h3 {
  margin: 10px;
  display: block;
  border-bottom: 1px solid #e8e8e8;
  background: #f0f0f0;
  padding-left: 400px;
  margin-right: -400px;
  margin-left: -400px;
}

.color-theme-1 h3 {
  border-bottom: 1px solid #d8c37b;
  background: #e8dbaf;
}

.color-theme-2 h3 {
  border-bottom: 1px solid #000;
  background: #0e1016;
}

.header-link {
  position:absolute;
  right:15%;
}