.page-inner {
  max-width: 896px;
  padding-left: max(64px, min(128px, 14%));
  margin-right: auto !important;
}

.marginThumb {
  float: left !important;
  background: transparent !important;
  overflow: hidden !important;
  border: none !important;
  padding: 0px !important;
  width: max(64px, 16%);
  margin: 0px !important;
  padding-right: 10px !important;
  margin-top: -61px !important;
  margin-left: min(-16%,-64px) !important;
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 50%,
    rgba(0, 0, 0, 0) 100%
  );
}


